.progress{
    margin-left: 40px;
    margin-right: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress1{
    margin-top: 30px;
}

.data{
    margin-top: 25px;
    margin-left: 15px;
   
}