.footer{
    background-color: #fff;
    height: 30px;
    width: 92%;
    margin-left:4%;
    margin-right: 4%;
    margin-top: 40px;
    border-radius: 5px;
}

.data{
font-size: 0.6rem;
}

.number_data{
    font-size: 0.8rem;
    font-weight: bold;
    color: darkslateblue;
    margin-left: 15px;
}
.flowchart{
    align-items: center;
    display: flex;
    
    flex-direction: column;
    margin-left: 130px;
}