.header_name{
    display: flex;
    justify-content: center;
    height: 20px;
    width: 200px;
    align-items: center;
    margin-top: 40px;
    font-weight: bold;
    margin-left: 30px;
    font-size: 0.9rem;
}

.sidebar{
    height: 250px;
    width: 200px;
    
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #fff;
    flex-direction: column;
    
}

.sidebar_chart{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.sidebar .profile_details{
    text-align: center;
    background-color: aqua;
    width: 200px;
    height: 100px;
    padding-top: 0%;
}

.profile_details .earning{
    margin-top: 5px;
}

.earning1{
    font-size: 20px;
    color: darkslateblue;
}
.data3{
    font-size: 20px;
    font-weight: bold;
    color: darkslateblue;
}
.data1{
    font-size: 10px;
    color: darkslateblue;
    
}