.sidebar{
    display: flex;
   flex-direction: column;
   flex: 0.25;
}

.sidebar_header{
    margin-top: 10px;
    margin-left: 40px;
    padding-bottom: 40px;
}
.sedebar_details{
    align-items: center;
    display: flex;
    margin-left: 40px;
    font-size: 30px;
    color: darkslateblue;
    font-weight: 10em;
    
}

.users{
    font-size: 20px;
    margin-left: 30px;
    align-items: center;
    
}

.number{
    margin-left: 40px;
    font-size: 60px;
    color: darkslateblue;
}

.sub_details1{
    width: 80px;
    height: 80px;
    border-radius: 30px;

    margin-left: 40px;
    bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.barchart1{
    display: flex;
    flex-direction: row;
    align-items: center;
   

}
.sub_details{
    
    margin-left: 50px;
    margin-bottom: 20px;
    
}

.text_details{
    font-size: 30px;
    color: darkslateblue;
}
.number_details{
    font-weight: bold;
    font-size: 30px;
    color: darkslateblue;
}

.sub_details1{
    margin-bottom: 10px;
}

.chart{
    margin-top: 80px;
}

.sub_details3{
    background-color: orangered;
}

.sub_details2{
    background-color: skyblue;
}
.sub_details4{
    background-color: blueviolet;
}